<div class="Container">
  <h1 class="text-center">{{title}}</h1>
  <ul>
    <li *ngFor="let user of users">
      <p class="d-inline-block">{{user.firstName}}</p>
      <p class="d-inline-block">{{user.lastname}}</p>
      <div [ngClass]="{'blue': user.firstName === 'Venkat' || user.age === 2}" [ngSwitch]="user.age">
        <div *ngSwitchCase="18">Class A</div>
        <div *ngSwitchCase="19">Class B</div>
        <div *ngSwitchCase="20">Class c</div>
        <div *ngSwitchDefault>Not</div>
        <!-- <h4>Subjects</h4>
        <ul>
          <li *ngFor="let subject of user.subjects">
            <p>{{subject}}</p>
          </li>
        </ul> -->
      </div>
    </li>
  </ul>
</div>
